@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.background {
  background: -webkit-linear-gradient(white, transparent, white), url("http://hypnoticcode.com/images/pexels-photo.jpg");
  background: linear-gradient(white, transparent, white), url("http://hypnoticcode.com/images/pexels-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  position: relative;
}
.background_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  mix-blend-mode: lighten;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.background_overlay:hover {
  background-color: transparent;
  mix-blend-mode: normal;
}
.background_overlay:hover .background_overlay__header {
  color: #ffffff;
}
.background_overlay:hover .background_overlay__header__2 {
  color: #ffffff;
}
.background_overlay:hover .background_overlay__header:after,
.background_overlay:hover .background_overlay__header:before {
  background-color: #ff2222;
  width: 60%;
  height: 40%;
}
.background_overlay__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.background_overlay__header {
  font-size: 10vw;
  color: #000000;
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.background_overlay__header__2 {
  font-size: 5vw;
  color: #000000;
  display: inline-block;
  position: relative;
}
.background_overlay__header:after,
.background_overlay__header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 1vh;
  z-index: -1;
  background-color: #000000;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
}
.background_overlay__header:after {
  left: auto;
  right: 50%;
}
.background_overlay__header:before {
  left: 50%;
  right: auto;
}
